* {
    margin: 0;
    padding: 0;
  }

  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,300;0,500;1,700&family=Montserrat:ital,wght@1,300&display=swap');

body{
    background-color: rgba(236,231,227,255);;
}

.Single-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Single-product-image{
    width: 100%;
    height: 100%;
}

.Single-product-image-container{
    width: 22vw;
    height: 25vh;
    margin: 30px;
}

.Single-product-button{
    color: white;
    background-color: #6CB26C;
    border: 1px solid;
    width: 7vw;
    height: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Single-product-options{
    display: flex;
}

.Single-product-price-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Single-product-review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Related-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.Single-related-products-image{
    width: 100%;
    height: 100%;
}

.Single-related-products-container{
    width: 15vw;
    height: 25vh;
    margin: 30px;
}

.details-image{
    width: 100%;
    height: 100%;
}

.details-image-container{
    width: 35vw;
    height: 25vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}



/* -------------------- Home ----------------- */

.home-wallpaper-container{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.home-wallpaper{
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333333;
    padding: 20px;
  }
  
  .text-overlay h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .text-overlay p {
    font-size: 20px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .home-main-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .home-category-container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 4vw;
  }

  .home-select-title{
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2vh;
  }

  .home-categories{
    background-color: #6CB26C;
    color: white;
    width: 15vw;
    height: 7vh;
    margin: 1vh;
    border: none;
	border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category-image-container{
    width: 20vw;
    height: 20vh;
    /* margin: 60px; */
}

.category-image{
    width: 100%;
    height: 100%;
}

.category-title{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.slider-card {
    border-radius: 8px;
    padding: 3vw;
    width: 20vw;
    /* margin: 0 auto;  */
  }
  
  .slider-card-content {
    min-height: 5vh;
  }

  .product-detail-container{
    display: flex;
    justify-content: space-between;
  }

  .product-detail{
    margin-top: 3vh;
    font-family: 'Montserrat', sans-serif;
  }

  .product-button-container{
    display: flex;
    justify-content: space-evenly;
  }

  .product-button{
    background-color: #6CB26C;
    color: white;
    margin: 1vw;
    border: none;
	border-radius: 30px;
    width: 7vw;
    height: 4vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Montserrat', sans-serif;
  }


/* ----------------------Seller----------*/

.Seller{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Seller-title{
    margin-top: 2vh;
    margin-left: 3vw;
    font-family: 'Montserrat', sans-serif;
}

.product-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: none;
    margin-left: 5vw;
    margin-top: 3vh;
}

.add-product-container{
    border: 1px solid #c8ded0;
    width: 20vw;
    height: 60vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.add-product-input{
    width: 15vw;
    height: 5vh;
    border: none;
	border-radius: 30px;
    background-color: #c8ded0;
    margin-top: 1vh;
    padding-left: 17px;
}

.add-product-button{
    background-color: #6CB26C;
    color: white;
    width: 15vw;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
	border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
}

.add-product-label{
    font-family: 'Montserrat', sans-serif;
    margin-top: 1vh;
}

.Existing-product-container{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    justify-content: flex-start;
    align-items: flex-start;
}

.seller-product-container{
    width: 15vw;
    height: 25vh;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 18vh;
}

.seller-product-detail{
    font-family: 'Montserrat', sans-serif;
}

.edit-product-button{
    background-color: #6CB26C;
    color: white;
    margin: 1vw;
    border: none;
	border-radius: 30px;
    width: 7vw;
    height: 4vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Montserrat', sans-serif;
}

/* ---------------- Auth ----------- */

.auth-ui{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-design{
    border: 1px solid #c8ded0;
    width: 20vw;
    height: 60vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.form-input{
    width: 15vw;
    height: 5vh;
    border: none;
	border-radius: 30px;
    background-color: #c8ded0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 17px;
}

.form-button{
    background-color: #6CB26C;
    color: white;
    width: 15vw;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
	border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
}

.form-action-button{
    background-color: #6CB26C;
    color: white;
    margin: 1vw;
    border: none;
	border-radius: 30px;
    width: 7vw;
    height: 4vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Montserrat', sans-serif;
}

.form-dropdown{
    width: 8vw;
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: none;
	border-radius: 30px;
    padding-left: 10px;
}

.form-label{
    font-family: 'Montserrat', sans-serif;
    margin-top: 1vh;
}


/* ----------------- Navigation ------------ */



.navigation-subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(236,231,227,255);
    list-style: none;
}

.navigation-button{
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
  color: #000; 
  font-size: 16px;
  cursor: pointer;
  margin: 2vh;
}

.login-signup {
    margin-left: auto;
}

.cart-icon{
    width: 1vw;
    height: 2vh;
    padding-right: 3vw;
}

.cart-no{
    padding-left: 1vw;
}

/* ----------------- Seller ------------ */


.seller-main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seller-main-image-container{
    width: 50vw;
    height: 50vh;
    border-radius: 7%; 
    overflow: hidden;
    margin: 3vh
}

.seller-main-image{
    width: 100%;
    height: 100%;
}

.seller-title{
    font-family: 'Montserrat', sans-serif;
    margin: 2vh;
}

.seller-image-container{
    width: 15vw;
    height: 20vh;
    border: 3%;
}

.seller-image{
    width: 100%;
    height: 100%;
}

.all-seller{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.seller-name{
    font-family: 'Montserrat', sans-serif;
    margin: 1vh;
}

.seller-detail{
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------- About ------------ */

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

.about-us{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: larger;
    width: 50vw;
    margin: 1vh;
}

.break{
    margin-top: 1vh;
    margin-bottom: 1vh;
}


/* ------------------ Cart ------------ */
.cart-comp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* ------------------------- Mobile responsive ---------- */

@media (max-width: 1100px) {
    .form-design{
        width: 50vw;
        height: 45vh;
    }
    .form-action-button{
        width: 20vw;
        height: 3vh;
        margin: 2vw;
    }
    .form-button{
        width: 25vw;
        height: 3vh;
    }
    .form-input{
        width: 35vw;
        height: 3vh;
    }
    .form-dropdown{
        width: 25vw;
        height: 3vh;
    }

    /* ------- Completed auth ----- */

    .Seller{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .add-product-container{
        width: 70vw;
        height: 40vh;
    }

    .add-product-input{
        width: 45vw;
        height: 4vh;
    }

    .add-product-button{
        width: 25vw;
        height: 3vh;
    }

    .Existing-product-container{
        width: 60vw;
        align-items: center;
        justify-content: center;
    }

    .seller-product-container{
        width: 25vw;
        height: 15vh;
        margin-bottom: 7vh;
    }

    .edit-product-button{
        width: 15vw;
        height: 2vh;
    }


    /* -------- Home -------- */

    .home-main-container{
        flex-direction: column;
    }

    .home-category-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-left: 0;
        margin-top: 3vh;
        min-height: 4vh;
    }

    .slider-card{
        width: 40vw;
        margin: 0 auto;
    }

    .product-detail{
        margin-top: 1vh;
    }

    .product-button{
        margin-top: 1vh;
        width: 15vw;
        height: 2vh;
    }

    .home-select-title{
        margin-right: 8vw;
    }

    /* ------- Seller ---- */

    .seller-detail{
        width: 60vw;
        margin-left: 2vw;
    }

    .seller-image-container{
       width: 25vw; 
       height: 16vh;
    }

    .seller-main-container{
        flex-direction: column;
    }

    .seller-main-image-container{
        width: 90vw;
        height: 40vh;
    }

    .seller-title{
       text-align: center;
    }

    /* ------------- Navigation --------- */

    .cart-icon{
        padding-right: 10vw;
        width: 4vw;
        height: 1.5vh;
    }

    .cart-no{
        padding-left: 4vw;
    }
  }