* {
    margin: 0;
    padding: 0;
  }

.Single-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Single-product-image{
    width: 100%;
    height: 100%;
}

.Single-product-image-container{
    width: 22vw;
    height: 25vh;
    margin: 30px;
}

.Single-product-button{
    color: white;
    background-color: #6CB26C;
    border: 1px solid;
    width: 7vw;
    height: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Single-product-options{
    display: flex;
}

.Single-product-price-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Single-product-review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Related-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.Single-related-products-image{
    width: 100%;
    height: 100%;
}

.Single-related-products-container{
    width: 15vw;
    height: 25vh;
    margin: 30px;
}

.details-image{
    width: 100%;
    height: 100%;
}

.details-image-container{
    width: 35vw;
    height: 25vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}



/* -------------------- Home ----------------- */

.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category-image-container{
    width: 30vw;
    height: 30vh;
    margin: 60px;
}

.category-image{
    width: 100%;
    height: 100%;
}

.category-title{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


/* ----------------------Seller----------*/

.Seller-title{
    margin: 20px;
}

.Add-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Add-product-input{
    width: 15vw;
    height: 3vh;
    padding: 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.Add-product-button{
    width: 7vw;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.Existing-product-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* ---------------- Auth ----------- */

.auth-ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}